# FeathersJS signup email verification

↑ **Parent:** [FeathersJS](feathersjs.md)

- [https://github.com/feathersjs/feathers/issues/1514](https://github.com/feathersjs/feathers/issues/1514)
- [https://blog.feathersjs.com/how-to-setup-email-verification-in-feathersjs-72ce9882e744](https://blog.feathersjs.com/how-to-setup-email-verification-in-feathersjs-72ce9882e744)

## ↑ Ancestors (12)

1. [FeathersJS](feathersjs.md)
2. [Node.js web framework](node-js-web-framework.md)
3. [Node.js](node-js-split.md)
4. [JavaScript](javascript.md)
5. [List of programming languages](list-of-programming-languages.md)
6. [Programming language](programming-language-split.md)
7. [Software](software-split.md)
8. [Computer](computer-split.md)
9. [Information technology](information-technology.md)
10. [Area of technology](area-of-technology.md)
11. [Technology](technology-split.md)
12. [Ciro Santilli's Homepage](split.md)

## ← Incoming links (1)

- [feathersjs/feathers-chat](feathersjs-feathers-chat.md)
