# Formal verification

↑ **Parent:** [Software bug](software-bug.md)  
ⓦ [Wiki](https://en.wikipedia.org/wiki/Formal_verification)

## ↑ Ancestors (7)

1. [Software bug](software-bug.md)
2. [Software](software-split.md)
3. [Computer](computer-split.md)
4. [Information technology](information-technology.md)
5. [Area of technology](area-of-technology.md)
6. [Technology](technology-split.md)
7. [Ciro Santilli's Homepage](split.md)

## ← Incoming links (1)

- [ARC-AGI is a black hole for early retired tech and finance bros](arc-agi-is-a-black-hole-for-early-retired-tech-and-finance-bros.md)
